

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #e0f0ff;
    color: #002f6c;
    text-align: center;
	align-items: center;
}
#Head_Part h2 {
	font-size:1.5vw;
	margin-top:5px;
	margin-bottom:7px;
}
/*Stuff inside the Header*/

/*Blue Box of the header*/
#Head_Part{
	position:fixed;
	top:0px;
	width:100%;
	height:8%;
	background-color: #5B9BD5;
	z-index:2;
	min-height: 40px;
}


/*Grey Box of the Header*/
#Second_Head{
	position:fixed;
	top: 8%;
	width:100%;
	height:3%;
	background-color: #404040;
	z-index:1;
	margin-bottom:0px;
    /*overflow: hidden;*/
	display: flex;
    justify-content: center;   
    align-items: center;       
    padding: 0.5vw 0; 
	min-height: 20px;
	
	
}

/*Title of the Header (Game Development)*/
#title{
	display:inline-block;
	margin-top:0.3%;
	margin-bottom: 0px;
	width:80%;
	font-size:2vw;
	justify-content: center;
	z-index: 3;
	border-bottom: 0.1em solid;
	border-color: white;

}


/*Table inside the Header*/
#table_header{
	position:relative;
	bottom:0;
	z-index:3;
	color:white;
	display:inline-block;
	border-collapse:collapse;
	width:max-content;
    gap: 4vw;
	text-decoration: none;   
}
.menu_data{
	font-size:1.6vw;
	border-left: 0;
	border-right: 0;
	border-left:solid;
	border-right:solid;
	padding-right:6vw;
	padding-left:6vw;
	margin-bottom:0;
	padding-bottom: 0;
	position:relative;
	text-decoration: none;
	    
}

#menu_button{
	position: relative;
	cursor: pointer;
	width: 100%;
	height: 100%;

}

#menu_button p{
    margin: 0;       /* remove default paragraph spacing */
    padding: 0;
}

a{
	text-decoration: none;
}
.menu_data a{
	text-decoration: none;
	color: white;
}
.menu_data a:hover{
border-left: 2px solid;
border-right: 2px solid;
}



#popup_menu {
	opacity: 0;
	
	color:#002f6c;
	display: block;
    position: fixed; 
	    top: 12%;
    left: 32.63%;
    width: 14.5%;
    background: white;
    padding: 1vw;
    z-index: 3;
	transition: opacity 0.5s;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	text-decoration: none;
	border: 0;
	visibility: hidden;
}

#menu_button:hover #popup_menu,
#popup_menu:hover {
	visibility: visible;
	opacity: 1; 

}


#popup_menu a {
	font-size: 1.2vw;
    display: block;    
    padding: 0.5vw 0;      
    color: #002f6c;         
    text-decoration: none;   

}

#popup_menu a:hover{
	border: 1px solid;
}

/*Header Ending*/

#text_block_one
{
	margin-top:10%;



}
.text_blocks{
	text-align: left;
	display:flex;
	flex-direction: column;
	position: relative;
	left:4%;
	width:70%;
	height:140%;
	background-color:white;
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
	border-radius:10px;
	margin-top:5%;
	margin-bottom:5%;
	padding:4%;
	
}

.text_blocks h2{
width: 100%;
margin: 0;
	
}


#text_passage_one{
margin-left: 1%;

}











