body {
    font-family: Arial;
    background: #1a1a1a;
    color: white;
    text-align: center;
}

h1 {
    margin: 20px;
}

#info_page_button{
	width:10%;
}
a{
text-decoration: none;
}
.btn {
  
  padding: 15px 30px;
  background: #4CAF50;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  
  /* 3D effect */
  box-shadow: 0 6px 0 #2e7d32;
  
  /* smooth animation */
  transition: all 0.1s ease;
  
  cursor: pointer;
}

/* Hover = slightly raised */
.btn:hover {
  transform: translateY(2px);
  box-shadow: 0 4px 0 #2e7d32;
}

/* Click = pressed down */
.btn:active {
  transform: translateY(6px);
  box-shadow: 0 0 0 #2e7d32;
}

.top-controls {
    margin-bottom: 50px;
}

.grid {
    display: grid;
    grid-template-columns: 120px repeat(17, 1fr) 80px;
    gap: 4px;
    /*width: 90%;*/
    margin: auto;
}
#sequencerWrapper {
    
    width: 80%;
    scale: 1.2;
    margin: auto;
}
.label {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
select {
    height: 30px;           /* match .step */
    box-sizing: border-box; /* prevents weird overflow */
    padding: 0 6px;
    font-size: 12px;
}
.step {
    background: #333;
    border: none;
    height: 30px;
    cursor: pointer;
}

.step.active {
    background: #00ffaa;
}

.step.current {
    border: 2px solid yellow;
}

.slider {
    width: 70px;
}
.row {
  display: grid;
  grid-template-columns: 120px repeat(16, 1fr) 120px 120px;
  align-items: center;
}
span {
    font-size: 12px;
    margin-left: 6px;
    color: #ccc;
}
.slider-wrap {
    display: flex;
    align-items: center;
    gap: 6px;
}

#piano {
    position: relative;
    height: 140px;
    width: max-content;
    margin: 20px auto;
}



.piano {
    
    position: relative;
    bottom: -100px;
    left: -240px;
    height: 140px;
    margin-top: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    scale: 2;
}

#pianoTone {
    position: relative;
    left: -300px;
    top: -90px;
    padding: 6px;
    font-size: 14px;
}

.piano-controls{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    left: -400px;
    top: -60px;
}
#piano-volume{
    left: -420px;
}
.piano-key {
    position: absolute;
    user-select: none;
    top: 0;
    border: #1a1a1a solid 1px;
    display: flex;
    align-items: flex-end;   /* pushes text downward */
    justify-content: center;
    padding-bottom: 6px;      /* fine-tune how low the text sits */
    font-size: 10px;
}

.piano-key.active.white {
    background: #ddd;
}

.piano-key.active.black {
    background: #444;
}
.white {
    width: 40px;
    height: 120px;
    background: white;
    color: black;
}

.black {
    width: 30px;
    height: 80px;
    background: black;
    color: white;
    
    margin-left: -15px;
    margin-right: -15px;
    z-index: 2;
}